{% extends "base.html" %}
{% block content %}
<h1>Manage Bills</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Bill ID</th>
      <th>End Date</th>
      <th>Amount</th>
      <th>Last Records</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  {% for bill in bills %}
  <tr>
    <td>{{ bill.id }}</td>
    <td>{{ bill.endDate }}</td>
    <td>{{ "$%.2f" % (bill.costCents / 100) }}</td>
    <td>{{ bill.lastRecords|map(attribute='name')|join(', ') }}</td>
    <td>{{ bill.notes }}</td>
    <td> 
      {% if current_user.has_role("admin") %}<a href="{{ url_for('edit_bill', bid=bill.id) }}" class="btn btn-default">Edit</a>{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% if current_user.has_role("admin") %}<a href="{{ url_for('add_bill') }}" class="btn btn-default">Add</a>{% endif %}
{% endblock %}
