{% extends "base.html" %}
{% block content %}
<h1>Are you sure?</h1>
{{ prompt }}
<form method="POST" role="form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="radio{% if form.confirm.errors %} has-error{% endif %}">
    <label class="checkbox">
      {{ form.confirm }} {{ form.confirm.label.text }}
    </label>
      {% if form.confirm.errors %}
      {% for error in form.confirm.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
      {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{{ url_for(back) }}" class="btn btn-default">Cancel</a>
</form> 
{% endblock %}
