{% extends "base.html" %}
{% block content %}
<h1>Are you sure?</h1>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}
{% endwith %}
{{ prompt }}
<form method="POST" role="form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="checkbox">
    <label>
      <input name="confirm" id="confirm" type="checkbox"> Yes. 
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{{ url_for("manage_users") }}" class="btn btn-default">Cancel</a>
</form> 
{% endblock %}
