{% extends "base.html" %}
{% block content %}
<h1>Manage Servers</h1>

<button id="reload-button" type="button" class="btn btn-default">Reload</button></br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="hidden-xs">Instance ID</th>
      <th>Label</th>
      <th>State</th>
      <th class="hidden-xs">IP</th>
      <th>Info</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for instance in instances %}
    <tr {% if instance.highlight %}class="info"{% endif %}>
      <td class="hidden-xs">{{ instance.iid }}</td>
      <td>{{ instance.label }}</td>
      <td>{{ instance.state }}</td>
      <td class="hidden-xs">{{ instance.ip }} </td>
      <td>
        {% if instance.uptime %}
        <p>Uptime: {{ instance.uptime[0] }} hour(s) and {{ instance.uptime[1] }} minute(s)</p>
        {% endif %}
        <p class="visible-xs">IID: {{ instance.iid }}</p>
        <p class="visible-xs">IP: {{ instance.ip }}</p>
      </td>
      <td>
        {% for action in instance.actions %}
        <button id="{{instance.iid}}.{{action}}" type="button" class="btn btn-default action-button">{{action}}</button>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if twitter_user %}
<div id="wrap_follow" class="row">
  <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 text-center">
    <div class="well">
      <p class="lead">Get notified when a server starts up! </p>
      <a href="https://twitter.com/{{ twitter_user }}" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @{{ twitter_user}}</a>
    </div>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endif %}
{% endblock %}
{% block after_scripts %}
<script>
  $(".action-button").click(function (event){
    data = event.currentTarget.id.split('.');
    $('<form action="/manage/' + data[0] + '" method="POST">' +
      '<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />' +
      '<input type="hidden" name="action" value="' + data[1] + '">' + 
      '</form>').submit();
  });
  $("#reload-button").click(function (event){
    window.location.href = "{{ url_for('manage', update=True) }}";
  });
</script>
{% endblock %}
