{% extends "base.html" %}
{% block content %}
<h1>Manage Servers</h1>

<button id="reload-button" type="button" class="btn btn-default">Reload</button></br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Instance ID</th>
      <th>Label</th>
      <th>State</th>
      <th>IP</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for instance in instances %}
    <tr {% if instance.highlight %}class="info"{% endif %}>
      <td>{{ instance.iid }}</td>
      <td>{{ instance.label }}</td>
      <td>{{ instance.state }}</td>
      <td>{{ instance.ip }} </td>
      <td>
        {% for action in instance.actions %}
        <button id="{{instance.iid}}.{{action}}" type="button" class="btn btn-default action-button">{{action}}</button>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block after_scripts %}
<script>
  $(".action-button").click(function (event){
    data = event.currentTarget.id.split('.');
    $('<form action="/manage/' + data[0] + '" method="POST">' +
      '<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />' +
      '<input type="hidden" name="action" value="' + data[1] + '">' + 
      '</form>').submit();
  });
  $("#reload-button").click(function (event){
    window.location.href = "{{ url_for('manage', update=True) }}";
  });
</script>
{% endblock %}
