{% extends "base.html" %}
{% block content %}
<h1>{{ action }} User</h1>

<form method="POST" role="form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">{{ form.email.label }} {{ form.email(class_="form-control") }}</div>
  <div class="checkbox"><label>{{ form.active }} Active</label></div>
  <div class="form-group">{{ form.minecraft_username.label }} {{ form.minecraft_username(class_="form-control") }}</div>
  <div class="form-group">{{ form.roles.label }} {{ form.roles(class_="form-control") }}</div>
  <input type="submit" value="Submit" class="btn btn-primary">
  <a href="{{ url_for("manage_users") }}" class="btn btn-default">Cancel</a>
</form>

{% endblock %}
