{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block style %}
.form-changepw {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-changepw .form-changepw-heading,
.form-changepw .checkbox {
  margin-bottom: 10px;
}
.form-changepw .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-changepw .form-control:focus {
  z-index: 2;
}
{% endblock %}
{% block content %}
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" role="form" class="form-changepw">
  <h2>Change Password</h2>
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password) }}
  {{ render_field_with_errors(change_password_form.new_password) }}
  {{ render_field_with_errors(change_password_form.new_password_confirm) }}
  {{ render_field(change_password_form.submit,class="btn btn-lg btn-primary btn-block") }}
</form>
{% endblock %}
